<% @user.connections.collect(&:followee).each do |user| %>
  <div class="cell user_connection" id="user_<%= user.id %>">
    <%= link_to user.username, profile_path(:username => user.username) %>
  </div>
<% end %>
