<div class="search-form section common-form">
  <form action="<%= search_path %>">
    <div class="search-form-box">
      <fieldset class="form-cell">
        <label>Keyword Search</label>
        <input class="text-input clear-field" type="text" name="query" value="<%= params[:query] %>" />
      </fieldset>
      <fieldset class="form-cell">
        <label>Select Location</label>
        <select>
          <option>any</option>
          <option>Option #1</option>
          <option>Here is an Option #2</option>
          <option>Option #3</option>
          <option>Option #4</option>
          <option>Option #5</option>
          <option>Option #6</option>
          <option>Option #7</option>
        </select>
      </fieldset>
      <fieldset class="form-cell">
        <label>Select Industry</label>
        <select>
          <option>any</option>
          <option>Option #1</option>
          <option>Option #2</option>
          <option>Option #3</option>
          <option>Here is an Option #4</option>
          <option>Option #5</option>
          <option>Option #6</option>
          <option>Option #7</option>
        </select>
      </fieldset>
      <fieldset class="form-cell">
        <label>Select Job Title</label>
        <select>
          <option>any</option>
          <option>Option #1</option>
          <option>Here is an Option #2</option>
          <option>Option #3</option>
          <option>Option #4</option>
          <option>Option #5</option>
          <option>Option #6</option>
          <option>Option #7</option>
        </select>
      </fieldset>
    </div>
    <fieldset class="search-submit">
      <input class="submit-button" type="image" src="images/buttons/search.gif" alt="Search" />
    </fieldset>
  </form>
</div>
