<% @tagline = 'Add a contact from your search results' %>

<div class="common">

  <%= render :partial => 'search/form' %>

  <div class="search-results clear">
    <h6>Search results for *Search Subject*. Use the Advanced Search above to refine your results.</h6>
    <% @users.each do |user| %>
      <%= render :partial => 'search/result', :locals => {:user => user} %>
    <% end %>
  </div>
</div>
