<ul class="signup-nav">
  <li<%= %w[user#new user#create].include?(controller_action) ? ' class="active"' : '' %>>Enter Info</li>
  <li<%= controller_action == 'network#list' ? ' class="active"' : '' %>>Add Networks</li>
  <li<%= controller_action == 'user#list' ? ' class="active"' : '' %>>Connect</li>
</ul>
<div class="signup-footer">
  <small>* We will not use your information to send you unwanted messages or share it with 3rd parties</small>
</div>
