<ul class="signup-nav">
  <li<%= @slug == 'signup_1' ? ' class="active"' : '' %>>Enter Info</li>
  <li<%= @slug == 'signup_2' ? ' class="active"' : '' %>>Add Networks</li>
  <li<%= @slug == 'signup_3' ? ' class="active"' : '' %>>Connect</li>
</ul>
<div class="signup-footer">
  <small>* We will not use your information to send you unwanted messages or share it with 3rd parties</small>
</div>
