<div class="cell inactive-cell network_site" title="<%= @user.accounts[@network.name].nil? ? @network.name : (@user.accounts[@network.name].username || @user.accounts[@network.name].full_name) %>">
  <img class="cell-thumb" src="<%= @network.icon %>" alt="<%= @network.name %>" />
  <a href="#">
    <span class="cell-text">
      <span class="cell-title"><%= @network.name %></span>
      <span class="cell-details">Not Connected</span>
    </span>
  </a>
  <div class="action-button">Connect</div>
</div>
