<% SocialNetworkSite.all.each do |network| %>
  <% @network = network %> <!-- Work around Rails bug 4620 -->
  <div class="cell-wrapper">
  <%=
    if current_user and current_user.id == @user.id and current_user.accounts[network.name]
      render :partial => 'network/my_active', :locals => {:network => @network, :user => @user}
    elsif @user.accounts[network.name]
      if current_user and current_user.following?(@user) and current_user.accounts[network.name] and @user.accounts[network.name] and 
        render :partial => 'network/other_connected', :locals => {:network => @network, :user => @user}
      else
        render :partial => 'network/other_unconnected', :locals => {:network => @network, :user => @user}
      end
    end
    %>
  </div>
<% end %>

