<div class="cell-wrapper">
  <div class="cell network_site" title="<%= @network.name %>">
    <img class="cell-thumb" src="<%= @network.icon %>" alt="<%= @network.name %>" />
    <span class="cell-text">
      <span class="cell-title"><%= @network.name %></span>
    </span>
  </div>
</div>
